%btn {
    border: none;
    cursor: pointer;
}

%btn:hover {
    background-color: darken($blue, 5%);
}

%btn:active {
    background-color: darken($blue, 10%);
}

.btn_search {
    @extend %btn;
    padding: 20px;
    border-radius: 0 10px 10px 0;
    background: $blue;
    color: #fff;
}