$background: #071422;
$input-background-color: #040f1a;
$input-border: 1px solid #1c2f41;
$blue: #3294f8;
$card-background: #0b1b2b;
$title: #e7edf4;
$text: #afc2d4;
$info: #c4c4e3;
$post: #112131;
$number-color: #7b96b2;
$placeholder: #3A536B;
$mobile: '786px';